.card-wrap {
    
  margin-top: 45px;
  margin-left: 10px;
}

#add-modal-wrap {
  display: grid;
  margin: 15px;
  grid-template-columns: 30% 70%;
  grid-template-rows: repeat(7, 40px);
  gap: 10px;
  
}

#add-modal-wrap > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-modal-wrap input {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 80%;
}
#add-modal-wrap select {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 80%;
}

.grid-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.grid-col > * {
  margin-right: 15px;
}

#search-wrap {

display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;

}

#search-container {
width: 85%;
height: 55%;
border-radius: 5px;
/* border : 1px solid lightgray;*/
display: flex;
}

#search-container > form {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 4fr 1fr;
}

#search-icon-wrap {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#search-bar-wrap {
width: 100%;
height: 100%;
}

#search-bar {
width: 100%;
height: 100%;
padding: 10px;
}

#search-icon {
  width: 34px;
  height: 34px;
  margin: none;
  padding: none;
}

#search-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 5vh;
  margin: 0px 10px 10px 0px;
}

#search-container {
  width: 16%;
}

#search-bar {
  border-radius: 5px;
  border : 1px solid lightgray;
}

#search-wrap {
  margin : 0px 10px 5px 10px;
}

.profile-wrap {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-texts-wrap {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 85%;
}

.flex-items {
  height: 38px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.flex-items:hover {
  background-color: rgb(248, 249, 250);
}


#option-area {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#checkNum-area {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 5px;
}

#option-button-area {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 8px;
  margin: 10px;
}

#option-button-area > button {
  margin-left: 10px;
  border-radius: 5px;
}

.change-modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-modal-body > div {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-modal-body > div > select {
  width: 80%;
  height: 20%;
  border-radius: 5px;
  border : 1px solid lightgray;
}

.preview-img:hover {
	cursor: pointer;
}

.hide-input{
	border:none;
	border-right:0px;
	border-top:0px;
	boder-left:0px; 
	boder-bottom:0px;
	text-align: center;
  color : gray;
}

.hide-select {
	border-style: none;
}