<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<select id="selectFormList" resultType="DocFormVo">
		SELECT FORM_CODE, FORM_NAME FROM DOC_FORM ORDER BY FORM_CODE
	</select>
  	
  	<select id="selectPeriodList" resultType="DocPeriodVo">
		SELECT PERIOD_CODE, PERIOD FROM DOC_RETENTION_PERIOD ORDER BY PERIOD_CODE
	</select>
	
	<select id="formSelectList" resultType="DocFormMapperVo" parameterType="java.lang.Integer">
		SELECT  DF.FORM_CODE, DT.FORM_DETAIL_CODE, DFM.FORM_DETAIL_SEQ, DT.FORM_DETAIL_NAME, DT.FORM_DETAIL_TYPE
		FROM DOC_FORM_MAPPING DFM
		INNER JOIN DOC_FORM_DETAIL_TEMPLATE DT ON DT.FORM_DETAIL_CODE = DFM.FORM_DETAIL_CODE
		INNER JOIN DOC_FORM DF ON DF.FORM_CODE = DFM.FORM_CODE
		WHERE DF.FORM_CODE = #{formCode}
		ORDER BY DFM.FORM_DETAIL_SEQ
	</select>
	
	<select id="selectTypeList" resultType="ApprovalTypeVo">
		SELECT APPR_TYPE_CODE, APPR_TYPE_NAME FROM APPROVAL_TYPE ORDER BY APPR_TYPE_CODE
	</select>
	
	<select id="selectDeptList" resultType="DeptVo">
		SELECT DEPT_CODE, DEPT_NAME FROM DEPT WHERE DEPT_STATUS = 'N'
	</select>
		
	<select id="selectEmpList" resultType="EmpVo">
		SELECT E.EMP_CODE, E.COM_CODE, E.DEPT_CODE, E.RANK_CODE, E.DEPT_CODE, E.RIGHT_CODE, E.EMP_NAME, E.EMP_ID, E.EMP_PWD, E.EMP_E_MAIL, E.EMP_BIRTHDAY, E.EMP_TEL, E.EMP_PHONE, E.EMP_JOIN_DATE, E.EMP_PROMOTION_DATE, E.EMP_ADDRESS1, E.EMP_ADDRESS2, E.EMP_STATUS, E.EMP_ETC, E.EMP_ACCOUNT_NO, E.EMP_PROFILE_NAME, E.EMP_LAST_LOGIN_DATE, E.EMP_FILE_NAME, D.DEPT_NAME, R.RANK_NAME
		FROM EMP E
		INNER JOIN DEPT D ON E.DEPT_CODE = D.DEPT_CODE
		INNER JOIN RANK R ON E.RANK_CODE = R.RANK_CODE
		WHERE EMP_STATUS = 'N'
	</select>
	
	<select id="selectDeptEmpList" resultType="EmpVo">
		SELECT E.EMP_CODE, E.COM_CODE, E.DEPT_CODE, E.RANK_CODE, E.DEPT_CODE, E.RIGHT_CODE, E.EMP_NAME, E.EMP_ID, E.EMP_PWD, E.EMP_E_MAIL, E.EMP_BIRTHDAY, E.EMP_TEL, E.EMP_PHONE, E.EMP_JOIN_DATE, E.EMP_PROMOTION_DATE, E.EMP_ADDRESS1, E.EMP_ADDRESS2, E.EMP_STATUS, E.EMP_ETC, E.EMP_ACCOUNT_NO, E.EMP_PROFILE_NAME, E.EMP_LAST_LOGIN_DATE, E.EMP_FILE_NAME, D.DEPT_NAME, R.RANK_NAME
		FROM EMP E
		INNER JOIN DEPT D ON E.DEPT_CODE = D.DEPT_CODE
		INNER JOIN RANK R ON E.RANK_CODE = R.RANK_CODE
		WHERE E.EMP_STATUS = 'N' 
		<if test="deptCode != 0">
			AND D.DEPT_CODE = #{deptCode}
		</if>
	</select>	
	
	<insert id="insertApprovalDoc">
		INSERT INTO APPROVAL_DOC(DOC_CODE, PERIOD_CODE, DOC_FORM_CODE, EMP_CODE, DOC_TITLE, DOC_ENROLL_DATE)
		VALUES(SEQ_APPROVAL_DOC_CODE.NEXTVAL, #{periodCode}, #{docFormCode}, #{empCode}, #{docTitle}, SYSDATE)
		<selectKey keyProperty="docCode" order="AFTER" resultType="java.lang.String">
			SELECT SEQ_APPROVAL_DOC_CODE.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertDocData">
		<foreach collection="list" item="item" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
			INTO DOC_DATA(DOC_CODE, FORM_DETAIL_CODE, DOC_CONTENT) 
			VALUES (#{item.docCode}, #{item.formDetailCode}, #{item.docContent})
		</foreach>
	</insert>
	
	<insert id="insertApproverList">
		<foreach collection="list" item="item" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
			INTO APPROVAL_LIST(DOC_CODE, APPR_TYPE_CODE, APPR_EMP_CODE, APPR_SEQ)
			VALUES(#{item.docCode}, #{item.apprTypeCode}, #{item.apprEmpCode}, #{item.apprSeq})
		</foreach>
	</insert>
	
	<insert id="insertApprovalRef">
		<foreach collection="list" item="item" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
			INTO APPROVAL_REF(DOC_CODE, REF_EMP_CODE)
			VALUES(#{item.docCode}, #{item.refEmpCode})
		</foreach>
	</insert>
	
	<insert id="insertApprovalFile">
		<foreach collection="list" item="item" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
			INTO APPROVAL_FILE(FILE_CODE, DOC_CODE, ORIGIN_NAME, UPLOAD_NAME)
			VALUES(1, 1, 'D', 'D')
		</foreach>
	</insert>
	
	
	
	
	
	
	<select id="selectCountAll" resultType="int">
		SELECT COUNT(*) FROM APPROVAL_DOC WHERE DOC_STATUS = 'N'
	</select>
	
	<select id="selectDocList" resultType="ApprovalDocVo">
		SELECT D.DOC_CODE, D.PERIOD_CODE, D.DOC_FORM_CODE, D.EMP_CODE, D.DOC_TITLE, TO_CHAR(D.DOC_ENROLL_DATE, 'YYYY.MM.DD') AS DOC_ENROLL_DATE, TO_CHAR(D.DOC_UPDATED, 'YYYY.MM.DD') AS DOC_UPDATED, D.DOC_STATUS, F.FORM_NAME, E.EMP_NAME
		FROM APPROVAL_DOC D
		INNER JOIN DOC_FORM F ON D.DOC_FORM_CODE = F.FORM_CODE
		INNER JOIN EMP E ON E.EMP_CODE = D.EMP_CODE
		WHERE D.DOC_STATUS = 'N'
		ORDER BY D.DOC_CODE DESC
	</select>
		
	<select id="selectFormDetailList" resultType="DocFormDetailTemplateVo">
		SELECT FORM_DETAIL_CODE, FORM_DETAIL_NAME, FORM_DETAIL_TYPE FROM DOC_FORM_DETAIL_TEMPLATE
	</select>
	
	
	
	
	<insert id="insertDocForm">
		INSERT INTO DOC_FORM (FORM_CODE, FORM_NAME, FORM_INTRO, FORM_USE_YN)
		VALUES (SEQ_DOC_FORM_CODE.NEXTVAL, #{formName}, #{formIntro}, #{formUseYn})
		<selectKey keyProperty="formCode" order="AFTER" resultType="java.lang.String">
			SELECT SEQ_DOC_FORM_CODE.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="insertDocFormMapping" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
			INTO DOC_FORM_MAPPING (FORM_CODE, FORM_DETAIL_CODE, FORM_DETAIL_SEQ)
			VALUES (#{item.formCode}, #{item.formDetailCode}, #{item.formDetailSeq})
		</foreach>
	</insert>
	
	
	
	<select id="selectDocDetail" resultType="ApprovalDocVo">
		SELECT A.DOC_CODE, A.PERIOD_CODE, A.DOC_FORM_CODE, A.EMP_CODE, A.DOC_TITLE, TO_CHAR(A.DOC_ENROLL_DATE, 'YYYY.MM.DD') AS DOC_ENROLL_DATE, A.DOC_UPDATED, A.DOC_STATUS , 
		       P.PERIOD, E.EMP_NAME, D.DEPT_NAME, F.FORM_NAME
		FROM APPROVAL_DOC A
		INNER JOIN EMP E ON E.EMP_CODE = A.EMP_CODE
		INNER JOIN DOC_FORM F ON F.FORM_CODE = A.DOC_FORM_CODE
		INNER JOIN DOC_RETENTION_PERIOD P ON P.PERIOD_CODE = A.PERIOD_CODE
		INNER JOIN DEPT D ON D.DEPT_CODE = E.DEPT_CODE
		WHERE A.DOC_CODE = #{docCode}
		AND A.DOC_STATUS = 'N'
	</select>

	<select id="selectDocDataList" resultType="DocDataVo">
		SELECT D.DOC_CODE, D.FORM_DETAIL_CODE, D.DOC_CONTENT, T.FORM_DETAIL_NAME, T.FORM_DETAIL_TYPE
		FROM DOC_DATA D
		INNER JOIN DOC_FORM_DETAIL_TEMPLATE T ON T.FORM_DETAIL_CODE = D.FORM_DETAIL_CODE
		WHERE D.DOC_CODE = #{docCode}
	</select>
	
	<select id="selectApproverList" resultType="ApprovalListVo">
		SELECT A.DOC_CODE, A.APPR_TYPE_CODE, A.APPR_EMP_CODE, A.APPR_SEQ, A.APPR_DATE, A.APPR_STATUS
		     , E.EMP_NAME, D.DEPT_NAME, R.RANK_NAME, T.APPR_TYPE_NAME
		FROM APPROVAL_LIST A
		INNER JOIN EMP E ON E.EMP_CODE = A.APPR_EMP_CODE
		INNER JOIN DEPT D ON D.DEPT_CODE = E.DEPT_CODE 
		INNER JOIN RANK R ON R.RANK_CODE = E.RANK_CODE
		INNER JOIN APPROVAL_TYPE T ON T.APPR_TYPE_CODE = A.APPR_TYPE_CODE
		WHERE A.DOC_CODE = #{docCode}
		ORDER BY A.APPR_TYPE_CODE ASC
	</select>
	
	<select id="selectRefVoList" resultType="ApprovalRefVo">
		SELECT R.DOC_CODE, R.REF_EMP_CODE, R.CHECK_YN, E.EMP_NAME
		FROM APPROVAL_REF R
		INNER JOIN EMP E ON E.EMP_CODE = R.REF_EMP_CODE
		WHERE R.DOC_CODE = #{docCode}
	</select>
	
	<select id="selectTypeCountList" resultType="ApprovalListVo">
		SELECT A.APPR_TYPE_CODE, T.APPR_TYPE_NAME FROM APPROVAL_LIST A
		INNER JOIN APPROVAL_TYPE T ON T.APPR_TYPE_CODE = A.APPR_TYPE_CODE
		WHERE A.DOC_CODE = #{docCode}
		GROUP BY A.APPR_TYPE_CODE, T.APPR_TYPE_NAME
		ORDER BY A.APPR_TYPE_CODE ASC
	</select>
	
	
	
	
	
</mapper>