<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="calendarMapper">
	<select id="selectPerAll" resultType="CalendarVo">
		SELECT *
		FROM CALENDAR
		WHERE CAL_TYPE = 'HOME'
		AND CAL_DEL = 'N'
		AND EMP_CODE = #{empCode}
	</select>

	<select id="selectDepartAll" resultType="CalendarVo">
		SELECT 
		    C.CAL_CODE
		    ,C.EMP_CODE
		    ,C.CAL_TITLE
		    ,C.CAL_TYPE
		    ,C.CAL_START
		    ,C.CAL_END
		    ,C.CAL_ALLDAY
		    ,C.CAL_HOLIDAY
		    ,C.CAL_ENROLLDATE
		    ,C.CAL_DEL
		    ,E.EMP_CODE
		    ,E.DEPT_CODE
		FROM CALENDAR C
		JOIN EMP E
		ON C.EMP_CODE = E.EMP_CODE
		WHERE C.CAL_TYPE = 'WORK'
		AND C.CAL_DEL = 'N'
		AND E.DEPT_CODE= #{deptCode}
	</select>

	<insert id="insertOne">
		INSERT INTO CALENDAR
		(	
			CAL_CODE
			, EMP_CODE
			, CAL_TITLE
			, CAL_TYPE
			, CAL_START
			, CAL_END
			, CAL_ALLDAY
		)
		VALUES
		(
			SEQ_CAL_CODE.NEXTVAL
			, #{empCode}
			, #{calTitle}
			, #{calType}
			, TO_DATE(#{calStart}, 'MM/DD/YYYY HH:MI')
			, TO_DATE(#{calEnd}, 'MM/DD/YYYY HH:MI')
			, #{calAllday}
		)
	</insert>
	
	<update id="deleteOne">
		UPDATE 
		CALENDAR 
	SET 
		CAL_DEL = 'Y' 
	WHERE CAL_CODE = #{no}
	</update>
	
	<select id="selectAll" resultType="CalendarVo">
	SELECT 
		    C.CAL_CODE
		    ,C.EMP_CODE
		    ,C.CAL_TITLE
		    ,C.CAL_TYPE
		    ,C.CAL_START
		    ,C.CAL_END
		    ,C.CAL_ALLDAY
		    ,C.CAL_HOLIDAY
		    ,C.CAL_ENROLLDATE
		    ,C.CAL_DEL
		    ,E.EMP_CODE
		    ,E.DEPT_CODE
		FROM CALENDAR C
		JOIN EMP E
		ON C.EMP_CODE = E.EMP_CODE
		WHERE C.EMP_CODE = #{empCode}
		AND C.CAL_DEL = 'N'
		AND E.DEPT_CODE= #{deptCode}
	</select>
</mapper>