<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dayoffMapper">

	<insert id="insertOff">
		INSERT INTO DAYOFF (OFF_CODE, ECODE, OFF_START_DATE, OFF_END_DATE, OFF_DAYS, OFF_REASON)
		VALUES (SEQ_DAYOFF_CODE_NO.NEXTVAL, #{eCode}, #{offStartDate}, #{offEndDate}, #{offDays}, #{offReason})
	</insert>

	<select id="selectDayoffList" resultType="DayoffVo">
		SELECT OFF_CODE, OFF_START_DATE, OFF_END_DATE, OFF_DAYS, OFF_REASON, OFF_APPROVAL
		FROM DAYOFF WHERE ECODE = #{eCode} ORDER BY OFF_CODE DESC
	</select>

	<select id="selectTotalCnt" resultType="int">
		SELECT COUNT(*) FROM DAYOFF WHERE ECODE = #{eCode}
	</select>
	
	<select id="selectDateCnt" resultType="int">
		SELECT COUNT(*) FROM DAYOFF WHERE ECODE = #{eCode} 
		AND OFF_END_DATE BETWEEN TO_CHAR(#{offStartDate}) AND TO_CHAR(#{offEndDate})
		OR OFF_START_DATE BETWEEN TO_CHAR(#{offStartDate}) AND TO_CHAR(#{offEndDate})
	</select>
	
	<select id="selectDateList" resultType="DayoffVo">
		SELECT OFF_CODE, OFF_START_DATE, OFF_END_DATE, OFF_DAYS, OFF_REASON, OFF_APPROVAL FROM DAYOFF
		WHERE ECODE = #{eCode}
		AND OFF_END_DATE BETWEEN TO_CHAR(#{offStartDate}) AND TO_CHAR(#{offEndDate})
		OR OFF_START_DATE BETWEEN TO_CHAR(#{offStartDate}) AND TO_CHAR(#{offEndDate})
		ORDER BY OFF_START_DATE ASC
	</select>

	<select id="offTotalCnt" resultType="int">
		SELECT D.OFF_ALL AS OFF_ALL
		FROM EMP E
		JOIN DAYOFF_COUNT D ON E.RANK_CODE = D.RANK_CODE
		JOIN RANK R ON R.RANK_CODE = D.RANK_CODE
		WHERE EMP_CODE = #{eCode}
	</select>
	
	<select id="offUsedCnt" resultType="int">
		SELECT NVL(SUM(OFF_DAYS), 0) AS OFF_USED 
		FROM DAYOFF
		WHERE ECODE = #{eCode}
	</select>
	
	<select id="selectRightVo" resultType="EmpVo">
		SELECT R.RIGHT_CODE, E.EMP_CODE, E.EMP_NAME
		FROM EMP E
		JOIN RIGHT R ON E.RIGHT_CODE = R.RIGHT_CODE
		WHERE E.EMP_CODE = #{eCode}
	</select>
	
	<select id="selectAdminTotalCnt" resultType="int">
		SELECT COUNT(*) FROM DAYOFF
	</select>
	
	<select id="selectAdminDayoffList" resultType="DayoffVo">
		SELECT O.OFF_CODE, E.EMP_NAME AS ECODE, D.DEPT_NAME AS DEPT_CODE, OFF_START_DATE, OFF_END_DATE, OFF_REASON, OFF_ENROLLDATE, OFF_APPROVAL
		FROM DAYOFF O
		JOIN EMP E ON E.EMP_CODE = O.ECODE
		JOIN DEPT D ON E.DEPT_CODE = D.DEPT_CODE
	</select>

</mapper>