<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="empMapper">

	<select id="selectOneByEmail" resultType="EmpVo">
		SELECT 
			EMP_CODE
		  , EMP_NAME
		  , EMP_ID
		  , EMP_PWD
		  , EMP_E_MAIL
		  , EMP_PHONE
		  , EMP_ADDRESS1
		FROM EMP
		WHERE EMP_E_MAIL = #{empEMail}
		AND EMP_PWD = #{empPwd}
		AND EMP_STATUS = 'N'
	</select>
	
	<select id="selectIdInfo" resultType="EmpVo">
		SELECT 
			EMP_CODE
		  , EMP_E_MAIL
		FROM EMP
		WHERE EMP_NAME  = #{empName}
		AND EMP_PHONE = #{empPhone}
	</select>


</mapper>