<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="empMapper">

	<select id="selectOneById" resultType="EmpVo">
		SELECT 
			EMP_CODE
		  , EMP_NAME
		  , EMP_ID
		  , EMP_PWD
		  , EMP_E_MAIL
		  , EMP_PHONE
		  , EMP_ADDRESS1
		FROM EMP
		WHERE EMP_ID = #{empId}
		AND EMP_STATUS = 'N'
	</select>
	
	<select id="selectIdInfo" resultType="EmpVo">
		SELECT 
			EMP_CODE
		  , EMP_ID
		FROM EMP
		WHERE EMP_NAME  = #{empName}
		AND EMP_PHONE = #{empPhone}
	</select>
	
	<select id="selectPwdInfo" resultType="EmpVo">
		SELECT 
			EMP_CODE,
			EMP_PWD
		FROM EMP 
		WHERE EMP_NAME = #{empName}
		AND EMP_E_MAIL = #{empEMail}
	</select>
	
	<update id="updateTempPwd">
		UPDATE EMP SET EMP_PWD = #{empPwd}
		WHERE EMP_E_MAIL = #{empEMail}
	</update>


</mapper>