<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="filemanagerMapper">
	
	
	<select id="selectAll" resultType="filemanagerVo">
		SELECT 
	    F.FILE_CODE
	    , F.EMP_CODE
	    , F.FILE_TITLE
	    , F.FILE_NAME
	    , F.FILE_ORIGINNAME
	    , F.FILE_URL
	    , F.FILE_ENROLLDATE
	    , F.FILE_CNT
	    , F.FILE_BOOKMARK
	    , F.FILE_DELDATE
	    , F.FILE_RANGE
        , E.EMP_NAME AS FILEWRITER
	FROM FILECLOUD F
    JOIN EMP E
        ON F.EMP_CODE = E.EMP_CODE
	WHERE FILE_DELDATE IS NULL
	</select>
	
	<select id="selectRecent" resultType="filemanagerVo">
		SELECT 
	    FILE_CODE
	    , EMP_CODE
	    , FILE_TITLE
	    , FILE_NAME
	    , FILE_ORIGINNAME
	    , FILE_URL
	    , FILE_ENROLLDATE
	    , FILE_CNT
	    , FILE_BOOKMARK
	    , FILE_DELDATE
	    , FILE_RANGE
	FROM FILECLOUD
    WHERE FILE_DELDATE IS NULL
	ORDER BY FILE_CODE DESC
	</select>
	
	<select id="selectStar" resultType="filemanagerVo">
		SELECT 
	    FILE_CODE
	    , EMP_CODE
	    , FILE_TITLE
	    , FILE_NAME
	    , FILE_ORIGINNAME
	    , FILE_URL
	    , FILE_ENROLLDATE
	    , FILE_CNT
	    , FILE_BOOKMARK
	    , FILE_DELDATE
	    , FILE_RANGE
	FROM FILECLOUD
    WHERE FILE_BOOKMARK = '1'
    AND FILE_DELDATE IS NULL
	ORDER BY FILE_CODE DESC
	</select>
	
	<select id="selectDel" resultType="filemanagerVo">
		SELECT 
	    FILE_CODE
	    , EMP_CODE
	    , FILE_TITLE
	    , FILE_NAME
	    , FILE_ORIGINNAME
	    , FILE_URL
	    , FILE_ENROLLDATE
	    , FILE_CNT
	    , FILE_BOOKMARK
	    , FILE_DELDATE
	    , FILE_RANGE
	FROM FILECLOUD
    WHERE FILE_DELDATE IS NOT NULL
    ORDER BY FILE_DELDATE DESC
	</select>
	
	<update id="addStar">
	UPDATE 
		FILECLOUD 
	SET 
		FILE_BOOKMARK = '1' 
	WHERE FILE_CODE = #{fileCode}
	
	</update>
	
	<update id="restore">
	UPDATE 
		FILECLOUD 
	SET 
		FILE_DELDATE = NULL 
	WHERE FILE_CODE = #{fileCode}
	
	</update>
	
	<update id="addDel">
	UPDATE 
		FILECLOUD 
	SET 
		FILE_DELDATE = SYSDATE 
	WHERE FILE_CODE = #{fileCode}
	
	</update>
	
	<insert id="addFile">
		INSERT INTO 
		FILECLOUD ( FILE_CODE , EMP_CODE , FILE_TITLE , FILE_CONTENT,  FILE_NAME , FILE_URL, FILE_BOOKMARK ,FILE_TYPE) 
		VALUES ( SEQ_FILE_CODE.NEXTVAL ,1 , #{fileTitle} , #{fileContent}  , #{fileName} , #{fileUrl} , 0 , #{fileType})
	
	</insert>
	
	<select id="selectOneByCode" resultType="filemanagerVo">
		SELECT 
	    F.FILE_CODE
	    , F.EMP_CODE
	    , F.FILE_TITLE
	    , F.FILE_NAME
	    , F.FILE_ORIGINNAME
	    , F.FILE_URL
	    , F.FILE_ENROLLDATE
	    , F.FILE_CNT
	    , F.FILE_BOOKMARK
	    , F.FILE_DELDATE
	    , F.FILE_RANGE
	    , F.FILE_TYPE
	    , F.FILE_SIZE
	    , F.FILE_CONTENT
        , E.EMP_NAME AS FILEWRITER
	FROM FILECLOUD F
    JOIN EMP E
        ON F.EMP_CODE = E.EMP_CODE
		WHERE FILE_CODE = #{fileCode}
	</select>
</mapper>