<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="filemanagerMapper">
	
	
	<select id="selectAll" resultType="filemanagerVo">
		SELECT 
	    F.FILE_CODE
	    , F.EMP_CODE
	    , F.FILE_TITLE
	    , F.FILE_NAME
	    , F.FILE_ORIGINNAME
	    , F.FILE_URL
	    , F.FILE_ENROLLDATE
	    , F.FILE_CNT
	    , F.FILE_BOOKMARK
	    , F.FILE_DELDATE
	    , F.FILE_RANGE
	    , F.FILE_TYPE
	    , F.FILE_SIZE
	    , F.FILE_CONTENT
        , E.EMP_NAME AS FILEWRITER
	FROM FILECLOUD F
    JOIN EMP E
        ON F.EMP_CODE = E.EMP_CODE
	WHERE FILE_DELDATE IS NULL
	AND F.EMP_CODE = #{empCode}
	</select>
	
	<select id="selectRecent" resultType="filemanagerVo">
		SELECT 
	    FILE_CODE
	    , EMP_CODE
	    , FILE_TITLE
	    , FILE_NAME
	    , FILE_ORIGINNAME
	    , FILE_URL
	    , FILE_ENROLLDATE
	    , FILE_CNT
	    , FILE_BOOKMARK
	    , FILE_DELDATE
	    , FILE_RANGE
	    , FILE_TYPE
	    , FILE_SIZE
	    , FILE_CONTENT
	FROM FILECLOUD
    WHERE FILE_DELDATE IS NULL
    AND EMP_CODE = #{empCode}
	ORDER BY FILE_CODE DESC
	</select>
	
	<select id="selectStar" resultType="filemanagerVo">
		SELECT 
	    FILE_CODE
	    , EMP_CODE
	    , FILE_TITLE
	    , FILE_NAME
	    , FILE_ORIGINNAME
	    , FILE_URL
	    , FILE_ENROLLDATE
	    , FILE_CNT
	    , FILE_BOOKMARK
	    , FILE_DELDATE
	    , FILE_RANGE
	    , FILE_TYPE
	    , FILE_SIZE
	    , FILE_CONTENT
	FROM FILECLOUD
    WHERE FILE_BOOKMARK = '1'
    AND FILE_DELDATE IS NULL
    AND EMP_CODE = #{empCode}
	ORDER BY FILE_CODE DESC
	</select>
	
	<select id="selectDel" resultType="filemanagerVo">
		SELECT 
	    FILE_CODE
	    , EMP_CODE
	    , FILE_TITLE
	    , FILE_NAME
	    , FILE_ORIGINNAME
	    , FILE_URL
	    , FILE_ENROLLDATE
	    , FILE_CNT
	    , FILE_BOOKMARK
	    , FILE_DELDATE
	    , FILE_RANGE
	    , FILE_TYPE
	    , FILE_SIZE
	    , FILE_CONTENT
	FROM FILECLOUD
    WHERE FILE_DELDATE IS NOT NULL
    AND EMP_CODE = #{empCode}
    ORDER BY FILE_DELDATE DESC
	</select>
	
	<update id="addStar">
	UPDATE 
		FILECLOUD 
	SET 
		FILE_BOOKMARK = '1' 
	WHERE FILE_CODE = #{fileCode}
	
	</update>
	
	<update id="restore">
	UPDATE 
		FILECLOUD 
	SET 
		FILE_DELDATE = NULL 
	WHERE FILE_CODE = #{fileCode}
	
	</update>
	
	<update id="addDel">
	UPDATE 
		FILECLOUD 
	SET 
		FILE_DELDATE = SYSDATE 
	WHERE FILE_CODE = #{fileCode}
	</update>
	
	<insert id="addFile">
		INSERT INTO 
		FILECLOUD ( FILE_CODE , EMP_CODE , FILE_TITLE , FILE_CONTENT,  FILE_NAME , FILE_URL, FILE_BOOKMARK ,FILE_TYPE, FILE_SIZE) 
		VALUES ( SEQ_FILE_CODE.NEXTVAL , #{empCode} , #{fileTitle} , #{fileContent}  , #{fileName} , #{fileUrl} , 0 , #{fileType}, #{fileSize})
	</insert>
	
	<select id="selectOneByCode" resultType="filemanagerVo">
		SELECT 
	    F.FILE_CODE
	    , F.EMP_CODE
	    , F.FILE_TITLE
	    , F.FILE_NAME
	    , F.FILE_ORIGINNAME
	    , F.FILE_URL
	    , F.FILE_ENROLLDATE
	    , F.FILE_CNT
	    , F.FILE_BOOKMARK
	    , F.FILE_DELDATE
	    , F.FILE_RANGE
	    , F.FILE_TYPE
	    , F.FILE_SIZE
	    , F.FILE_CONTENT
        , E.EMP_NAME AS FILEWRITER
	FROM FILECLOUD F
    JOIN EMP E
        ON F.EMP_CODE = E.EMP_CODE
		WHERE F.FILE_CODE = #{fileCode}
	</select>
	
	<insert id="addCopy">
		INSERT INTO 
		FILECLOUD ( FILE_CODE , EMP_CODE , FILE_TITLE , FILE_CONTENT,  FILE_NAME , FILE_URL, FILE_BOOKMARK ,FILE_TYPE, FILE_SIZE) 
		VALUES ( SEQ_FILE_CODE.NEXTVAL , #{empCode} , #{fileTitle} , #{fileContent}  , #{fileName} , #{fileUrl} , 0 , #{fileType}, #{fileSize})
	</insert>
	
	<update id="edit">
		UPDATE FILECLOUD
		SET 
		FILE_TITLE = #{fileTitle}
		, FILE_CONTENT = #{fileContent}
		WHERE FILE_CODE = #{fileCode}
	</update>
	
	<update id="addCloud">
	UPDATE 
    FILECLOUD F
	SET 
    FILE_RANGE =   (
                                SELECT E.DEPT_CODE 
                                FROM EMP E
                                WHERE F.EMP_CODE= E.EMP_CODE
                            )
	WHERE FILE_CODE = #{fileCode}
	</update>
	
	<select id="selectCloud" resultType="filemanagerVo">
	SELECT 
	    FILE_CODE
	    , EMP_CODE
	    , FILE_TITLE
	    , FILE_NAME
	    , FILE_ORIGINNAME
	    , FILE_URL
	    , FILE_ENROLLDATE
	    , FILE_CNT
	    , FILE_BOOKMARK
	    , FILE_DELDATE
	    , FILE_RANGE
	    , FILE_TYPE
	    , FILE_SIZE
	    , FILE_CONTENT
	FROM FILECLOUD
    WHERE FILE_DELDATE IS NULL
    AND FILE_RANGE = #{deptCode}
	ORDER BY FILE_CODE DESC
	</select>
	
</mapper>