<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">
	
	<select id="selectList" resultType="MailVo">
		SELECT
		MAIL.MAIL_CODE
		,MAIL.EMP_CODE
		,MAIL.MAIL_SENDER 
		,MAIL.MAIL_TITLE
		,MAIL.MAIL_CONTENT
		,MAIL.MAIL_SENDDATE
		,MAIL.MAIL_RECEIVER
		,MAIL.MAIL_VIEWS
		,MAIL.MAIL_DELETE 
		FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NULL
		AND MAIL_RECEIVER = #{id}
		AND MAIL_SENDER != #{id}
		ORDER BY MAIL_CODE DESC
		
	</select>	
	
	<!-- 동적쿼리 없이 그냥 쿼리문 여러개 만들기 -->
	<!-- 조건별 쿼리문 전부 만들기 -->
	<!-- 실행 -->
	
	<select id="selectSearchList" resultType="MailVo">
		 SELECT
		* FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NULL
		AND MAIL_RECEIVER = #{id}
		AND MAIL_SENDER != #{id}
		<if test="searchType=='title' and (keyword != null and keyword != '' )">
			AND MAIL_TITLE LIKE '%' || #{keyword} || '%'
		</if>
       <if test="searchType=='send_id' and (keyword != null and keyword != '' )">
			AND MAIL_SENDER LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType=='all' and (keyword != null and keyword != '') ">
			AND MAIL_SENDER LIKE '%' || #{keyword} || '%'
			OR MAIL_TITLE LIKE '%' || #{keyword} ||'%'
		</if>
		
		ORDER BY MAIL_CODE DESC
			
	</select>	
	
	<select id="selectSearchTotalCnt" resultType="int">
		SELECT COUNT (*)
		FROM MAIL
		WHERE MAIL_DELETE IS NULL
		AND MAIL_RECEIVER = #{id}
		AND MAIL_SENDER != #{id}
		<if test="searchType=='title' and (keyword != null and keyword != '' )">
			AND MAIL_TITLE LIKE '%' || #{keyword} || '%'
		</if>
       <if test="searchType=='send_id' and (keyword != null and keyword != '' )">
			AND MAIL_SENDER LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType=='all' and (keyword != null and keyword != '') ">
			AND MAIL_SENDER LIKE '%' || #{keyword} || '%'
			OR MAIL_TITLE LIKE '%' || #{keyword} ||'%'
		</if>
		
		</select>
		
		
		<select id="selectSearchSendList" resultType="MailVo">
		 SELECT
		* FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NULL
		AND MAIL_SENDER = #{id}
		AND MAIL_RECEIVER != #{id}
		<if test="searchType=='title' and (keyword != null and keyword != '' )">
			AND MAIL_TITLE LIKE '%' || #{keyword} || '%'
		</if>
       <if test="searchType=='rec_id' and (keyword != null and keyword != '' )">
			AND MAIL_RECEIVER LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType=='all' and (keyword != null and keyword != '') ">
			AND MAIL_RECEIVER LIKE '%' || #{keyword} || '%'
			OR MAIL_TITLE LIKE '%' || #{keyword} ||'%'
		</if>
		ORDER BY MAIL_CODE DESC
			
	</select>
	
	<select id="selectSearchSendCnt" resultType="MailVo">
		 SELECT COUNT (*)
		 FROM MAIL
		 WHERE MAIL_DELETE IS NULL
		 AND MAIL_SENDER = #{id}
		 AND MAIL_RECEIVER != #{id}
		<if test="searchType=='title' and (keyword != null and keyword != '' )">
			AND MAIL_TITLE LIKE '%' || #{keyword} || '%'
		</if>
       <if test="searchType=='rec_id' and (keyword != null and keyword != '' )">
			AND MAIL_RECEIVER LIKE '%' || #{keyword} || '%'
		</if>
		<if test="searchType=='all' and (keyword != null and keyword != '') ">
			AND MAIL_RECEIVER LIKE '%' || #{keyword} || '%'
			OR MAIL_TITLE LIKE '%' || #{keyword} ||'%'
		</if>
			
	</select>
			
		
	<select id="selectCountAll" resultType="int">
		SELECT COUNT (*)
		FROM MAIL
		WHERE MAIL_DELETE IS NULL
		AND MAIL_RECEIVER = #{id}
		AND MAIL_SENDER != #{id} 
			
	</select>	
	
	<select id="selectSendTotalCnt" resultType="int">
		SELECT COUNT (*)
		FROM MAIL
		WHERE MAIL_DELETE IS NULL
		AND MAIL_SENDER= #{id}
		AND MAIL_RECEIVER != #{id}
	</select>	
	
	<select id="selectSelfTotalCnt" resultType="int">
		SELECT COUNT (*)
		FROM MAIL
		WHERE MAIL_DELETE IS NULL
		AND MAIL_SENDER= #{id}
		AND MAIL_RECEIVER = #{id}
	</select>	
	
		
		
	<insert id="insertMail">
		INSERT INTO MAIL 
		(
		MAIL_CODE
		, EMP_CODE
		, MAIL_SENDER
		, MAIL_TITLE
		, MAIL_CONTENT
		, MAIL_SENDDATE
		, MAIL_RECEIVER
		)
		VALUES 
		(
		SEQ_MAIL_CODE.NEXTVAL
		 ,#{empCode}
		 ,#{mailSender}
		 ,#{mailTitle}
		 ,#{mailContent}
		 ,SYSDATE
		 ,#{mailReceiver}
		 )
	</insert>
	
	<insert id="insertFile">
		INSERT INTO MAIL_FILE
		(
		 MAIL_FILE_CODE
		 , MAIL_CODE
		 , MAIL_ORIGIN_NAME
		 , MAIL_CHANGE_NAME
		 , MAIL_FILE_ROOT
		)
		VALUES
		(
		 SEQ_MAIL_FILE_CODE.NEXTVAL
		 ,SEQ_MAIL_CODE.CURRVAL
		 ,#{mailOriginname}
		 ,#{mailChangename}
		 ,#{mailFileroot}
		)
		
	</insert>
	
	<select id="selectMailFileList" resultType="MailFileVo">
		SELECT MAIL_FILE_CODE, MAIL_CODE, MAIL_ORIGIN_NAME, MAIL_CHANGE_NAME,MAIL_FILE_ROOT FROM MAIL_FILE
		WHERE MAIL_CODE = #{mailCode}
		ORDER BY MAIL_FILE_CODE ASC
	</select>
	
	<select id="selectFile" resultType="MailFileVo">
		SELECT  MAIL_FILE_CODE
		 , MAIL_CODE
		 , MAIL_ORIGIN_NAME
		 , MAIL_CHANGE_NAME
		 , MAIL_FILE_ROOT
		FROM MAIL_FILE
		WHERE MAIL_FILE_CODE = #{mailFilecode}
	</select>
	
	<update id="deleteMail">
		UPDATE MAIL
		SET
		MAIL_DELETE = SYSDATE
		WHERE MAIL_CODE = #{mailCode}
	</update>
	
	<select id="selectTrashlist" resultType="MailVo">
		SELECT
		MAIL.MAIL_CODE
		,MAIL.EMP_CODE
		,MAIL.MAIL_SENDER 
		,MAIL.MAIL_TITLE
		,MAIL.MAIL_CONTENT
		,MAIL.MAIL_SENDDATE
		,MAIL.MAIL_RECEIVER
		,MAIL.MAIL_VIEWS
		,MAIL.MAIL_DELETE 
		FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NOT NULL
		AND MAIL_RECEIVER = #{id}
		ORDER BY MAIL_DELETE DESC
	</select>
	
	<delete id="cleanMail">
		DELETE 
		FROM MAIL WHERE MAIL_DELETE IS NOT NULL
		AND MAIL_CODE = #{mailCode}
	</delete>
	
	<update id="backMail">
		UPDATE MAIL
		SET
		MAIL_DELETE = NULL
		WHERE MAIL_CODE = #{mailCode}
	</update>
	
	<select id="selectSendlist" resultType="MailVo">
		SELECT
		MAIL.MAIL_CODE
		,MAIL.EMP_CODE
		,MAIL.MAIL_SENDER 
		,MAIL.MAIL_TITLE
		,MAIL.MAIL_CONTENT
		,MAIL.MAIL_SENDDATE
		,MAIL.MAIL_RECEIVER
		,MAIL.MAIL_VIEWS
		,MAIL.MAIL_DELETE 
		FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NULL
		AND MAIL_SENDER = #{id}
		AND MAIL_RECEIVER != #{id}
		ORDER BY MAIL_CODE DESC
	</select>
	
	<select id="selectSendCnt" resultType="int">
		SELECT COUNT (*)
		FROM MAIL
		WHERE MAIL_DELETE IS NULL
		AND MAIL_RECEIVER = #{id}
		AND MAIL_SENDER != #{id}
	</select>
	
	<select id="selectRelist" resultType="MailVo">
		SELECT
		MAIL.MAIL_CODE
		,MAIL.EMP_CODE
		,MAIL.MAIL_SENDER 
		,MAIL.MAIL_TITLE
		,MAIL.MAIL_CONTENT
		,MAIL.MAIL_SENDDATE
		,MAIL.MAIL_RECEIVER
		,MAIL.MAIL_VIEWS
		,MAIL.MAIL_DELETE 
		FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NULL
		AND MAIL_RECEIVER = #{id}
		AND MAIL_SENDER != #{id}
		ORDER BY MAIL_CODE DESC
	</select>		
	
	<insert id="replyMail">
		INSERT INTO MAIL 
		(
		MAIL_CODE
		, EMP_CODE
		, MAIL_SENDER
		, MAIL_TITLE
		, MAIL_CONTENT
		, MAIL_SENDDATE
		, MAIL_RECEIVER
		)
		VALUES 
		(
		SEQ_MAIL_CODE.NEXTVAL
		 ,#{empCode}
		 ,#{mailSender}
		 ,#{mailTitle}
		 ,#{mailContent}
		 ,SYSDATE
		 ,#{mailReceiver}
		 )
	</insert>
	
	<insert id="selfMail">
		INSERT INTO MAIL 
		(
		MAIL_CODE
		, EMP_CODE
		, MAIL_SENDER
		, MAIL_TITLE
		, MAIL_CONTENT
		, MAIL_SENDDATE
		, MAIL_RECEIVER
		)
		VALUES 
		(
		SEQ_MAIL_CODE.NEXTVAL
		 ,#{empCode}
		 ,#{mailSender}
		 ,#{mailTitle}
		 ,#{mailContent}
		 ,SYSDATE
		 ,#{mailReceiver}
		 )
	</insert>
	
	<select id="selectSelflist" resultType="MailVo">
		SELECT
		MAIL.MAIL_CODE
		,MAIL.EMP_CODE
		,MAIL.MAIL_SENDER 
		,MAIL.MAIL_TITLE
		,MAIL.MAIL_CONTENT
		,MAIL.MAIL_SENDDATE
		,MAIL.MAIL_RECEIVER
		,MAIL.MAIL_VIEWS
		,MAIL.MAIL_DELETE 
		FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NULL
		AND MAIL_SENDER = #{id}
		AND MAIL_RECEIVER = #{id}
		ORDER BY MAIL_CODE DESC
	</select>
	
	<select id="selectMail" resultType="MailVo">
		SELECT
		MAIL.MAIL_CODE
		,MAIL.EMP_CODE
		,MAIL.MAIL_SENDER 
		,MAIL.MAIL_TITLE
		,MAIL.MAIL_CONTENT
		,MAIL.MAIL_SENDDATE
		,MAIL.MAIL_RECEIVER
		,MAIL.MAIL_VIEWS
		,MAIL.MAIL_DELETE 
		FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_CODE = #{mailCode}
		ORDER BY MAIL_CODE DESC
	</select>
	
	<update id="deleteOne">
		UPDATE MAIL
		SET
		MAIL_DELETE = SYSDATE
		WHERE MAIL_CODE = #{mailCode}
	</update>
	
	
	
	<select id="selectDeleteAll" resultType="int">
		SELECT COUNT (*)
		FROM MAIL
		WHERE MAIL_DELETE IS NOT NULL
	</select>
	
	<update id="increaseViews">
		UPDATE MAIL
		SET MAIL_VIEWS = MAIL_VIEWS + 1
		WHERE MAIL_CODE = #{mailCode}
	</update>
	
	<update id="readMail">
		UPDATE MAIL
		SET
		MAIL_VIEWS = 1
		WHERE MAIL_CODE = #{mailCode}
	</update>
	
	<update id="noReadmail">
		UPDATE MAIL
		SET
		MAIL_VIEWS = 0
		WHERE MAIL_CODE = #{mailCode}
	</update>
</mapper>
