<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">
	
	<select id="selectList" resultType="MailVo">
		SELECT
		MAIL.MAIL_CODE
		,MAIL.EMP_CODE
		,MAIL.MAIL_SENDER 
		,MAIL.MAIL_TITLE
		,MAIL.MAIL_CONTENT
		,MAIL.MAIL_SENDDATE
		,MAIL.MAIL_RECEIVER
		,MAIL.MAIL_DELETE 
		FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NULL
		ORDER BY MAIL_CODE DESC
	</select>		
	
	<insert id="insertMail">
		INSERT INTO MAIL 
		(
		MAIL_CODE
		, EMP_CODE
		, MAIL_SENDER
		, MAIL_TITLE
		, MAIL_CONTENT
		, MAIL_SENDDATE
		, MAIL_RECEIVER
		)
		VALUES 
		(
		SEQ_MAIL_CODE.NEXTVAL
		 ,#{empCode}
		 ,#{mailSender}
		 ,#{mailTitle}
		 ,#{mailContent}
		 ,SYSDATE
		 ,#{mailReceiver}
		 )
	</insert>
	
	<update id="deleteMail">
		UPDATE MAIL
		SET
		MAIL_DELETE = SYSDATE
		WHERE MAIL_CODE = #{mailCode}
	</update>
	
	<select id="selectTrashlist" resultType="MailVo">
		SELECT
		MAIL.MAIL_CODE
		,MAIL.EMP_CODE
		,MAIL.MAIL_SENDER 
		,MAIL.MAIL_TITLE
		,MAIL.MAIL_CONTENT
		,MAIL.MAIL_SENDDATE
		,MAIL.MAIL_RECEIVER
		,MAIL.MAIL_DELETE 
		FROM MAIL
		JOIN EMP
		ON MAIL.EMP_CODE = EMP.EMP_CODE
		WHERE MAIL_DELETE IS NOT NULL
		ORDER BY MAIL_DELETE DESC
	</select>
	
	<delete id="cleanMail">
		DELETE 
		FROM MAIL WHERE MAIL_DELETE IS NOT NULL
		AND MAIL_CODE = #{mailCode}
	</delete>
	
	<update id="backMail">
		UPDATE MAIL
		SET
		MAIL_DELETE = NULL
		WHERE MAIL_CODE = #{mailCode}
	</update>
	
</mapper>
