<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<select id="selectList" resultType="NoticeVo">
		SELECT 
		   	NOTICE_CODE
			,NOTICE_TITLE
			,NOTICE_CONTENT
			,NOTICE_DATE
		FROM NOTICE
		ORDER BY NOTICE_CODE ASC
	</select>
	
	<insert id="insertNotice">
	
		
		INSERT INTO NOTICE
		(
			NOTICE_CODE
			,NOTICE_TITLE
			,NOTICE_CONTENT
			,NOTICE_DATE
			,NOTICE_UPDATE
		)
		VALUES
		(
			SEQ_NOTICE_CODE.NEXTVAL
			, #{noticeTitle}
			, #{noticeContent}
			, SYSDATE
			, SYSDATE
		)
	</insert>
	
	<select id="selectOne" resultType="NoticeVo">
		SELECT 
		   	NOTICE_CODE
			,NOTICE_TITLE
			,NOTICE_CONTENT
			,NOTICE_DATE
		FROM NOTICE
		
	</select>
	
	<update id="increaseHit">
		UPDATE NOTICE
			SET NOTICE_VIEWS = NOTICE_VIEWS + 1
		WHERE NOTICE_CODE = #{NOTICE_CODE}
	</update>
</mapper>
